<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>BUTACAS DE CINE</title>
    <style type="text/css">
        .auto-style1 {
            width: 91%;
            text-align: center;
        }
        .auto-style2 {
            width: 1122px;
            text-align: center;
        }
        .auto-style3 {
            width: 30px;
            background-color: lightcoral;
            text-align: center;
        }
        .auto-style4 {
            width: 35px;
        }
        .auto-style5 {
            width: 36px;
        }
        .auto-style6 {
            width: 30px;
            height: 34px;
        }
        .auto-style7 {
            width: 36px;
            height: 34px;
        }
        .auto-style8 {
            width: 35px;
            height: 34px;
        }
        .auto-style10 {
            width: 32px;
        }
        .auto-style11 {
            width: 32px;
            height: 34px;
        }
        .auto-style12 {
            width: 34px;
        }
        .auto-style13 {
            width: 34px;
            height: 34px;
        }
        .nuevoEstilo1 {
            border-top-style: solid;
        }
        .auto-style14 {
            width: 35px;
            height: 34px;
            text-align: center;
        }
        .auto-style15 {
            width: 35px;
            text-align: center;
        }
        .auto-style16 {
            text-align: center;
        }
        .auto-style17 {
            width: 34px;
            text-align: center;
        }
        .auto-style18 {
            width: 32px;
            text-align: center;
        }
        .auto-style19 {
            width: 36px;
            text-align: center;
        }
        .highlighted {
            background-color:brown;
        }
    </style>
    <!-- src="jquery/jquery-1.11.1.min.js" -->
    <script type="text/javascript">
        
    </script>
    
</head>
<body>
    <h1 class="auto-style2">SALA DE CINE</h1>
    <table class="auto-style1">
        <tr id="butaca">
            <td class="auto-style3">
                A</td>
            <td>
                &nbsp;</td>
            <td class="auto-style5">&nbsp;</td>
            <td class="auto-style15">
                1<img alt="" src="D:/Facultad/workspace/Imagenes/butaca.png" style="height: 29px; width: 35px" /></td>
            <td class="auto-style15">
                2<img alt="" src="D:/Facultad/workspace/Imagenes/butaca.png" style="height: 29px; width: 35px" /></td>
            <td class="auto-style15">
                3<img alt="" src="D:/Facultad/workspace/Imagenes/butaca.png" style="height: 29px; width: 35px" /></td>
            <td class="auto-style15">
                4<img alt="" src="D:/Facultad/workspace/Imagenes/butaca.png" style="height: 29px; width: 35px" /></td>
            <td class="auto-style15">
                5<img alt="" src="D:/Facultad/workspace/Imagenes/butaca.png" style="height: 29px; width: 35px" /></td>
            <td class="auto-style15">
                6<img alt="" src="D:/Facultad/workspace/Imagenes/butaca.png" style="height: 29px; width: 35px" /></td>
            <td class="auto-style15">
                7<img alt="" src="D:/Facultad/workspace/Imagenes/butaca.png" style="height: 29px; width: 35px" /></td>
            <td class="auto-style15">
                8<img alt="" src="D:/Facultad/workspace/Imagenes/butaca.png" style="height: 29px; width: 35px" /></td>
            <td class="auto-style15">
                9<img alt="" src="D:/Facultad/workspace/Imagenes/butaca.png" style="height: 29px; width: 35px" /></td>
            <td class="auto-style15">
                10<img alt="" src="D:/Facultad/workspace/Imagenes/butaca.png" style="height: 29px; width: 35px" /></td>
            <td class="auto-style10">&nbsp;</td>
            <td class="auto-style12">&nbsp;</td>
            <td class="auto-style3">A</td>
        </tr>
        <tr>
            <td class="auto-style3">B</td>
            <td class="auto-style6"></td>
            <td class="auto-style7"></td>
            <td class="auto-style14">
                1<img alt="" src="D:/Facultad/workspace/Imagenes/butaca.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                2<img alt="" src="D:/Facultad/workspace/Imagenes/butaca.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                3<img alt="" src="D:/Facultad/workspace/Imagenes/butaca.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                4<img alt="" src="D:/Facultad/workspace/Imagenes/butaca.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                5<img alt="" src="D:/Facultad/workspace/Imagenes/butaca.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                6<img alt="" src="D:/Facultad/workspace/Imagenes/butaca.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                7<img alt="" src="D:/Facultad/workspace/Imagenes/butaca.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                8<img alt="" src="D:/Facultad/workspace/Imagenes/butaca.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                9<img alt="" src="D:/Facultad/workspace/Imagenes/butaca.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                10<img alt="" src="D:/Facultad/workspace/Imagenes/butaca.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style11"></td>
            <td class="auto-style13"></td>
            <td class="auto-style3">B</td>
        </tr>
        <tr>
            <td class="auto-style3">C</td>
            <td class="auto-style6"></td>
            <td class="auto-style7"></td>
            <td class="auto-style14">
                1<img alt="" src="D:/Facultad/workspace/Imagenes/butaca.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                2<img alt="" src="D:/Facultad/workspace/Imagenes/butaca.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                3<img alt="" src="D:/Facultad/workspace/Imagenes/butaca.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                4<img alt="" src="D:/Facultad/workspace/Imagenes/butaca.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                5<img alt="" src="D:/Facultad/workspace/Imagenes/butaca.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                6<img alt="" src="D:/Facultad/workspace/Imagenes/butaca.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                7<img alt="" src="D:/Facultad/workspace/Imagenes/butaca.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                8<img alt="" src="D:/Facultad/workspace/Imagenes/butaca.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                9<img alt="" src="D:/Facultad/workspace/Imagenes/butaca.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                10<img alt="" src="D:/Facultad/workspace/Imagenes/butaca.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style11"></td>
            <td class="auto-style13"></td>
            <td class="auto-style3">C</td>
        </tr>
        <tr>
            <td class="auto-style3">D</td>
            <td class="auto-style6"></td>
            <td class="auto-style7"></td>
            <td class="auto-style14">
                1<img alt="" src="D:/Facultad/workspace/Imagenes/butaca.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                2<img alt="" src="D:/Facultad/workspace/Imagenes/butaca.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                3<img alt="" src="D:/Facultad/workspace/Imagenes/butaca.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                4<img alt="" src="D:/Facultad/workspace/Imagenes/butaca.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                5<img alt="" src="D:/Facultad/workspace/Imagenes/butaca.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                6<img alt="" src="D:/Facultad/workspace/Imagenes/butaca.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                7<img alt="" src="D:/Facultad/workspace/Imagenes/butaca.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                8<img alt="" src="D:/Facultad/workspace/Imagenes/butaca.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                9<img alt="" src="D:/Facultad/workspace/Imagenes/butaca.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                10<img alt="" src="D:/Facultad/workspace/Imagenes/butaca.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style11"></td>
            <td class="auto-style13"></td>
            <td class="auto-style3">D</td>
        </tr>
        <tr>
            <td class="auto-style3">E</td>
            <td class="auto-style6"></td>
            <td class="auto-style7"></td>
            <td class="auto-style14">
                1<img alt="" src="D:/Facultad/workspace/Imagenes/butaca.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                2<img alt="" src="D:/Facultad/workspace/Imagenes/butaca.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                3<img alt="" src="D:/Facultad/workspace/Imagenes/butaca.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                4<img alt="" src="D:/Facultad/workspace/Imagenes/butaca.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                5<img alt="" src="D:/Facultad/workspace/Imagenes/butaca.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                6<img alt="" src="D:/Facultad/workspace/Imagenes/butaca.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                7<img alt="" src="D:/Facultad/workspace/Imagenes/butaca.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                8<img alt="" src="D:/Facultad/workspace/Imagenes/butaca.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                9<img alt="" src="D:/Facultad/workspace/Imagenes/butaca.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style14">
                10<img alt="" src="D:/Facultad/workspace/Imagenes/butaca.png" style="height: 25px; width: 34px" /></td>
            <td class="auto-style11"></td>
            <td class="auto-style13"></td>
            <td class="auto-style3">E</td>
        </tr>
</table>
</body>
</html>
