<html>
    <body>
        <p>Estas Buscando: <strong>{{query}}</strong></p>
        {% if peliculas %}
            <p>Peliculas encontradas: {{peliculas|length}} peliculas</p>
            <ul>
                {% for pelicula in peliculas %}
                <li>
                    {{pelicula.nombre}} &nbsp; {{pelicula.duracion}} &nbsp; {{pelicula.descripcion}}
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No esta la pelicula buscada</p>
        {% endif %}
    </body>
</html>